<html>
	<head>
		<title></title>
	</head>
	<body>

		<tbody>
            <tr>
                <td>
                    <table width="600" align='center' style="font-size: 14px;font-family: Calibri, Regular;margin-top: 50px;">
                        <tbody>
                            <tr>
                                <td style="" colspan="3">
                                    <table style="margin-bottom: -20px;">
                                        <tr>
                                            <td style="min-width: 190px;" colspan="2">
                                                <table style="float: right;position: absolute;">
                                                    <tbody>
                                                         <tr>
                                                            <td style="">
                                                                <p style="float: right;color: #d0d0d0;font-family: Calibri, Regular; font-size: 14px;margin-left: 210px;min-width: 277px;background-image: url(http://server.local/abear.com.br/www/uploads/newsletter/divisor-vertical.png);background-repeat: no-repeat;background-size: 1px 19px;background-position-x: 95%;background-position-y: 35%;">
                                                                    {DATA}
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <a href="[YOUTUBE]" style="text-decoration: none;float: right;padding-left: 10px;">
                                                                    <img src="http://server.local/abear.com.br/www/uploads/newsletter/youtube.png">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="[FACEBOOK]" style="text-decoration: none;float: right;padding: 0 30px;">
                                                                    <img src="http://server.local/abear.com.br/www/uploads/newsletter/facebook.png">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="[TWITTER]" style="text-decoration: none;float: right;">
                                                                    <img src="http://server.local/abear.com.br/www/uploads/newsletter/twitter.png">
                                                                </a>
                                                            </td> 
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <a href="http://server.local/abear.com.br/www" style="text-decoration: none;">
                                                    <img src="http://server.local/abear.com.br/www/uploads/newsletter/Untitled-1_02.png" style="margin-top: -20px;margin-left: -3px;">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="background-color: #f3f3f3;display: block;margin-left: 24px;width: 650px;">
                                        <tbody>
                                            <tr >
                                                <td>
                                                    <tr>
                                                        <td colspan="2" style="text-decoration: none;color: #0d7f40;font-family: Calibri;font-weight: bold;font-size: 16px;">
                                                            <p style="padding: 0 30px;margin-top: 20px;">
                                                                <a href="#" style="text-decoration: none;color: #0d7f40;font-family: Calibri;font-weight: bold;font-size: 16px;">
                                                                    Lorem placerat cras cubilia diam aliquet sagittis tempor bibendum donec velit at sollicitudin.
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>

                                    <table style="background-color: #f3f3f3;display: block;margin-left: 24px;width: 650px;padding-top: 10px;min-height: 40px;">
                                        <tbody>
                                            <tr>
                                                <td style="text-decoration: none;color: #797979;font-family: Calibri;font-size: 14px;">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <p style="padding: 0 30px;">
                                                                        <a href="#" style="text-decoration: none;color: #797979;font-family: Calibri;font-size: 14px;">
                                                                            Leo orci mauris interdum pretium potenti etiam primis iaculis lobortis donec magna nec, sollicitudin dolor aenean faucibus diam nostra dolor diam maecenas tincidunt. vel risus pharetra nisi vestibulum ac condimentum fermentum etiam eu, aenean lacinia tempus quisque netus ullamcorper volutpat mattis, massa gravida platea scelerisque mattis augue erat semper. rhoncus viverra massa lorem placerat cras cubilia diam aliquet sagittis tempor bibendum donec velit at sollicitudin, augue eros porttitor tempor venenatis semper tempus fames ut magna fames feugiat ante. dapibus vivamus sed dui, amet eu cubilia dictum, non lorem. metus hac potenti in varius luctus gravida pretium turpis, leo erat leo aenean tincidunt bibendum curabitur pellentesque lorem, molestie volutpat platea luctus risus eu ut. 
                                                                        </a>
                                                                    </p>
                                                                    <p style="padding: 0 30px;">
                                                                        <a href="#" style="text-decoration: none;color: #797979;font-family: Calibri;font-size: 14px;">
                                                                            Leo orci mauris interdum pretium potenti etiam primis iaculis lobortis donec magna nec, sollicitudin dolor aenean faucibus diam nostra dolor diam maecenas tincidunt. vel risus pharetra nisi vestibulum ac condimentum fermentum etiam eu, aenean lacinia tempus quisque netus ullamcorper volutpat mattis, massa gravida platea scelerisque mattis augue erat semper. rhoncus viverra massa lorem placerat cras cubilia diam aliquet sagittis tempor bibendum donec velit at sollicitudin, augue eros porttitor tempor venenatis semper tempus fames ut magna fames feugiat ante. dapibus vivamus sed dui, amet eu cubilia dictum, non lorem. metus hac potenti in varius luctus gravida pretium turpis, leo erat leo aenean tincidunt bibendum curabitur pellentesque lorem, molestie volutpat platea luctus risus eu ut. 
                                                                        </a>
                                                                    </p>
                                                                    <p style="padding: 0 30px;">
                                                                        <a href="#" style="text-decoration: none;color: #797979;font-family: Calibri;font-size: 14px;">
                                                                            Leo orci mauris interdum pretium potenti etiam primis iaculis lobortis donec magna nec, sollicitudin dolor aenean faucibus diam nostra dolor diam maecenas tincidunt. vel risus pharetra nisi vestibulum ac condimentum fermentum etiam eu, aenean lacinia tempus quisque netus ullamcorper volutpat mattis, massa gravida platea scelerisque mattis augue erat semper. rhoncus viverra massa lorem placerat cras cubilia diam aliquet sagittis tempor bibendum donec velit at sollicitudin, augue eros porttitor tempor venenatis semper tempus fames ut magna fames feugiat ante. dapibus vivamus sed dui, amet eu cubilia dictum, non lorem. metus hac potenti in varius luctus gravida pretium turpis, leo erat leo aenean tincidunt bibendum curabitur pellentesque lorem, molestie volutpat platea luctus risus eu ut. 
                                                                        </a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <img src="http://server.local/abear.com.br/www/uploads/newsletter/Untitled-1_04.png">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                   
                </td>
            </tr>
                
        </tbody>

	</body>
</html>
